<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EHealth</display-name>
  <welcome-file-list>
    <welcome-file>LoginAdmin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddArogyaUsers</display-name>
    <servlet-name>AddArogyaUsers</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.AddArogyaUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArogyaUsers</servlet-name>
    <url-pattern>/AddArogyaUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArogya</display-name>
    <servlet-name>DeleteArogya</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.DeleteArogya</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArogya</servlet-name>
    <url-pattern>/DeleteArogya</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctors</display-name>
    <servlet-name>DeleteDoctors</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.DeleteDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctors</servlet-name>
    <url-pattern>/DeleteDoctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctors</display-name>
    <servlet-name>AddDoctors</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.AddDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctors</servlet-name>
    <url-pattern>/AddDoctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForAdmin</display-name>
    <servlet-name>LoginForAdmin</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.LoginForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForAdmin</servlet-name>
    <url-pattern>/LoginForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForDoctors</display-name>
    <servlet-name>LoginForDoctors</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.LoginForDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForDoctors</servlet-name>
    <url-pattern>/LoginForDoctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCase</display-name>
    <servlet-name>AddCase</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.AddCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCase</servlet-name>
    <url-pattern>/AddCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForArogya</display-name>
    <servlet-name>LoginForArogya</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.LoginForArogya</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForArogya</servlet-name>
    <url-pattern>/LoginForArogya</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpescription</display-name>
    <servlet-name>addpescription</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.addpescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpescription</servlet-name>
    <url-pattern>/addpescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSet</display-name>
    <servlet-name>GetSet</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.GetSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSet</servlet-name>
    <url-pattern>/GetSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcomment</display-name>
    <servlet-name>addcomment</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.addcomment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcomment</servlet-name>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>com.rcpit.ehealth.operation.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
</web-app>